#div1{
    background-color: #71C9CE;
    padding: 2%;
    border-radius: 5%;
}
.main1{
    background-color: #CBF1F5;
    padding: 2%;
    border-radius: 5%;
}
.h1{
    font-size: 300%;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: italic;
}
.p1{
    font-size: 120%;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
.img1{
    width: 320px;
    height: 320px;
    float: left;
    margin-right: 3%;
    border-radius: 50%;
    padding: 0% 5% 0% 5%;
    
}
#div2{
    background-color: #4D2FB2;
    padding: 2%;
    border-radius: 5%;
}
.h2{
    font-size: 200%;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: italic;
    color: #F375C2;
    text-decoration: dashed underline;
}
.p2{
    font-size: 100%;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.divsum{
    font-size: 150%;
    background-color: #B153D7;
    border-radius: 10%;
    padding: 2%;
}
#div3{
    background-color: #05339C;
    padding: 2%;
    border-radius: 5%;
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
}
.diveducation{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    text-align: center;
    background-color: #BDE8F5;
    border-radius: 5%;
    padding: 2%;
}
.h3{
    font-size: 200%;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    color: #008BFF;
    text-decoration: underline;
}
.t1{
    font-weight: bold;
    border: 5px solid black;
    padding-bottom: 3%;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 115%;
}
.p3{
    border: 5px solid black;
    padding-bottom: 3%;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
#div4{
    background-color: #285430;
    width: 80%;
    height: auto;
    margin-left: 5%;
    border-radius: 3%;
    padding-top: 2%;
    margin-top: 2%;
    padding-right: 12%;   
    display: flex;
    gap: 2%;
}
.h4{
    color: #B4DEBD;
    margin: 2%;
    font-size: 200%;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: dotted underline;
}
.imgdiv1{
    background-color: #91C788;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    width: 24%;
    height: auto;
    text-align: center;
    margin-top: 7%;
    margin-left: 3%;
    margin-bottom: 5%;
    border-radius: 10%;
}
.img2{
    width: 75%;
    height: 75%;
    padding-top: 10%;
    border-radius: 50%;
    object-fit: cover;
}
#div5{
    background-color: #005461;
    border-radius: 5%;
    padding: 1%;
    margin-top: 2%;
}
.h5{
    color: #3BC1A8;
    margin: 1%;
    font-size: 200%;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: wavy underline;
}
.divexp1{
    background-color: #3BC1A8;
    font-size: 120%;
    display: inline-block;
    padding: 1% 1% 1% 1%;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border-radius: 5%;
}
.divexp2{
    background-color: #79C9C5;
    font-size: 120%;
    display: inline-block;
    padding: 1% 1% 1% 1%;
    margin-top: 3%;
    margin-bottom: 2%;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border-radius: 5%;
    margin-left: 25%;
}
#h5{
    padding-left: 2%;
}
#div6{
    text-align: center;
    font-size: 150%;
}
